<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
</head>
<body>
    <form  method="post" action="/posts">
        <input placeholder="enter username" name="username" type="text"></br>
        <textarea placeholder="enter content" name="content"></textarea><br><br>
        <button> Submit post </button>
    </form>
</body>
</html>